
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" type="text/css" href="css/patient.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<body>

<!-- Start of first page: #one -->
<div data-role="page" id="one">

	<div data-role="header">
		<h1>Customer Portal</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
	
    <button id="uploadbutton">Upload Script</button>
	<button id="history">View History</button>
	<button id="profile">My Profile</button>
	<button id="store">Store Details</button>
	<button id="logout">Logout</button>
	
    
	
		
	</div><!-- /content -->

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page one -->


<script>
$( "#uploadbutton" ).click(function() {
	window.location="/up";
});

$( "#history" ).click(function() {
	window.location="/history";
});

$( "#profile" ).click(function() {
	window.location="/profile";
});

$( "#store" ).click(function() {
	window.location="#storedetails";
});

$( "#logout" ).click(function() {
	//invokes logout route without passing variables
	$.post( "/logout", {})
	.done(function( data ) {
	alert(data);
	window.location="/home";
	});
	});



</script>


<div data-role="page" id="storedetails" data-theme="a">

	<div data-role="header">
		<h1>Store Details</h1>
	</div><!-- /header -->


<div role="main" class="ui-content">	
	
	<div class="container">	
	<div class="left">
	<h3> Opening Hours:</h3>
	<p>Monday: 09:30 - 18:00</p>
	<p>Tuesday: 09:30 - 18:00</p>
	<p>Wednesday: 09:30 - 18:00</p>
	<p>Thursday: 09:30 - 18:00</p>
	<p>Friday: 09:30 - 18:00</p>
	<p>Saturday: 09:30 - 18:00</p>
	<p>Sunday: Closed</p>
	<h3>Contact:</h3>
	<p>Phone: 0000000</p>
	<p>Email: grainnespharmacy@.ie</p>
	</div>
	<div class="right">
	<p>Church Road Shopping Centre</p>
	<p>Tullamore</p>
	<p>Co. Offaly</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2878.6041506583124!2d-7.48707881775817!3d53.27333755606778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485da590178b4365%3A0x5aa834e3a150455d!2sO&#39;Donovan&#39;s%20CarePlus%20Pharmacy!5e0!3m2!1sen!2sie!4v1586775589965!5m2!1sen!2sie" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	
	
	</div>
	</div>
	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
	
</div><!-- /page five -->	


	


</body>
</html>