
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" type="text/css" href="css/patient.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<body>

<!-- Start of first page: #one -->
<div data-role="page" id="one">

	<div data-role="header">
		<h1>Customer Portal</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
	
    <button id="uploadbutton">Upload Script</button>
	<button id="history">View History</button>
	<button id="profile">My Profile</button>
	<button id="logout">Logout</button>
	
    
	
		
	</div><!-- /content -->

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page one -->


<script>
$( "#uploadbutton" ).click(function() {
	window.location="/up";
});

$( "#history" ).click(function() {
	window.location="/history";
});

$( "#profile" ).click(function() {
	window.location="/profile";
});


$( "#logout" ).click(function() {
	//invokes logout route without passing variables
	$.post( "/logout", {})
	.done(function( data ) {
	alert(data);
	window.location="/home";
	});
	});

</script>


</body>
</html>