<head>
<title>Staff Login</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" type="text/css" href="css/staff.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>


<body> 
<!-- Start of first page: #one -->
<div data-role="page" id="one">
<div role="main" class="ui-content">
    <h1>Pharmacy Page</h1>
	
	<label for="user">Username:</label>
	<input type="text" name="user" id="uname" value="">
	<!-- Password -->
	<label for="password">Password:</label>
	<input type="text" name="password" id="pword" value="">
	<!-- Login -->
	<button id="loginbutton">Login</button>
</div>
</div>
<script>	
$( "#loginbutton" ).click(function() {

	var uname = $( "#uname" ).val();
	var pword = $( "#pword" ).val();
	
	
	$.post( "/login", { role:"staff", username:uname, password:pword})
	.done(function( data ) {
	alert(data);
	window.location="/staffzone";
	});
	});		
</script>

</body>

