<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
	<title>Home </title>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body> 
    <h1>Pharmacy Page</h1>
	
	<label for="user">Username:</label>
	<input type="text" name="user" id="uname" value="">
	<!-- Password -->
	<label for="password">Password:</label>
	<input type="text" name="password" id="pword" value="">
	<!-- Login -->
	<button id="loginbutton">Login</button>

<script>	
$( "#loginbutton" ).click(function() {

	var uname = $( "#uname" ).val();
	var pword = $( "#pword" ).val();
	
	
	$.post( "/login", { role:"staff", username:uname, password:pword})
	.done(function( data ) {
	alert(data);
	window.location="/staffbase";
	});
	});		
</script>

</body>
</html>
